
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<input type="button" value="Connect" id="btnConnect" />
<input type="button" value="Disconnect" id="btnDisconnect" /><br />
<input type="text" id="textInput" />
<input type="button" value="Send" id="btnSend" /><br />
<span id="spanStatus">(display)</span>

<script type="text/javascript">
    var ws;
    $().ready(function () {
        $("#btnConnect").click(function () {
            $("#spanStatus").text("connecting");
            ws = new WebSocket("ws://" + window.location.hostname + ":" + window.location.port + "/api/WS");
            ws.onopen = function () {
                $("#spanStatus").text("connected");
            };
            ws.onmessage = function (evt) {
                $("#spanStatus").text(evt.data);
            };
            ws.onerror = function (evt) {
                $("#spanStatus").text(evt.message);
            };
            ws.onclose = function () {
                $("#spanStatus").text("disconnected");
            };
        });
        $("#btnSend").click(function () {
            if (ws.readyState == WebSocket.OPEN) {
                ws.send($("#textInput").val());
            }
            else {
                $("#spanStatus").text("Connection is closed");
            }
        });
        $("#btnDisconnect").click(function () {
            ws.close();
        });
    });
</script>



