div.leftShow{
    position:fixed;
    float:left;
    width:200px;
    height:400px;
    max-height:100%;
    text-align:center;
    margin-top:10%;
    border-right:activeborder 1px solid;
    border-top:activeborder 1px solid;
    border-left:activeborder 1px solid;
    border-bottom:activeborder 1px solid;
    /*margin-left:-230px;*/
    background:-moz-linear-gradient(left,#E0E0E0,#F0F0F0);
    background:-webkit-linear-gradient(left,#E0E0E0,#F0F0F0);
    background:-ms-linear-gradient(left,#E0E0E0,#F0F0F0);
    background:-o-linear-gradient(left,#E0E0E0,#F0F0F0);
    background:linear-gradient(left,#E0E0E0,#F0F0F0);
}
.leftShowTranslate{
    transform:translateX()
}
