div.leftShow{
    position:fixed;
    float:left;
    width:220px;
    height:400px;
    max-height:100%;
    text-align:center;
    margin-top:10%;
    border-right:activeborder 1px solid;
    border-top:activeborder 1px solid;
    border-left:activeborder 1px solid;
    border-bottom:activeborder 1px solid;
    /*margin-left:-230px;*/
    background:-moz-linear-gradient(left,#E0E0E0,#F0F0F0);
    background:-webkit-linear-gradient(left,#E0E0E0,#F0F0F0);
    background:-ms-linear-gradient(left,#E0E0E0,#F0F0F0);
    background:-o-linear-gradient(left,#E0E0E0,#F0F0F0);
    background:linear-gradient(left,#E0E0E0,#F0F0F0);
}
.leftHide{
    position:fixed;
    float:left;
    background:#FF8000;
    border-radius:15px 15px 15px 15px;
    color:white;
    margin-left:-30px;
    height:30px;
    width:30px;
    margin-top:20%;
}
.setBackgroung{
    background-color:gray;
    background-image:url(/Images/img7.jpg);
    background-repeat:repeat-x;
}
