div.leftShow{
    position:fixed;
    float:left;
    width:200px;
    height:400px;
    max-height:100%;
    margin-top:10%;
    margin-bottom:15%;
    margin-left:-5%;
    border-right:activeborder 1px solid;
    border-top:activeborder 1px solid;
    border-left:activeborder 1px solid;
    border-bottom:activeborder 1px solid;
    /*margin-left:-230px;*/
    background:-moz-linear-gradient(left,#19f59b,#7ac0da);
    background:-webkit-linear-gradient(left,#19f59b,#7ac0da);
    background:-ms-linear-gradient(left,#19f59b,#7ac0da);
    background:-o-linear-gradient(left,#19f59b,#7ac0da);
    background:linear-gradient(left,#19f59b,#7ac0da);
}
.leftShowTranslate{
    transform:translateX()
}
